@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
    margin: 0;
    padding: 0
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.85);
}

/* font */
@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2);
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Light.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-ExtraLight.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2);
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'MaruBuri';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}


.inner {
    max-width: 1280px;
    margin: 0 auto;
}

.sec-1 {
    position: relative;
    max-width: 1280px;
    height: 600px;
    margin: 50px auto 150px;
    background: url(../img/main-bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-title {
    writing-mode: vertical-rl;
    color: #fff;
    position: absolute;
    top: 35px;
    left: 40px;
    font-family: 'MaruBuri';
    font-weight: 600;
    font-size: 22px;
    z-index: 10;
}

.main-title h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* sec-2 */
.sec-2 {
    padding: 100px 0;
    background: #d5d4d1;
    margin-bottom: 75px;
}

.sec-2 .inner {
    display: flex;
    gap: 100px;
    align-items: center;
}

.sec2-contents {
    text-align: center;
}

.sec2-contents h2 {
    font-family: 'MaruBuri';
    margin-bottom: 10px;
    text-align: left;
}

.sec2-contents h2 strong {
    color: #592b09;
}

.sec2-contents p {
    font-weight: 500;
    margin-bottom: 30px;
}

.sec2-contents ul {
    gap: 20px;
    margin-bottom: 40px;
    line-height: 2.5;
    font-weight: 500;
    text-align: left;
}

.sec2-contents ul strong {
    font-weight: 2000;
    color: #95877c;
    margin-right: 22px;
}

.sec2-contents a {
    color: #fff;
    background: #3e3d3d;
    padding: 15px 35px;
    border-radius: 13px;
}

.sec3-inner {
    max-width: 1280px;
    margin: 0 auto 100px;
}

.sec3-inner h2 {
    margin-bottom: 75px;
    text-align: center;
    font-family: 'MaruBuri';
    font-size: 30px;

}

.sec3-inner .content-list {
    display: flex;
    gap: 27px;
    justify-content: space-between;
}

.content-list figure {
    margin-bottom: 18px;
}

.caption {

    position: relative;
}

.text p {
    color: #b5b0b0;
}

.btnplus {
    position: absolute;
    top: 0;
    right: 0;
}

footer {
    padding: 50px;
    background: rgba(0, 0, 0, 0.7);
}

footer .inner {
    padding: 30px 0;
}

footer .copy {
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}